
h1{
    color:chartreuse ;
    background-color: rgb(19, 24, 22);
 }
div{

    background-color:rgb(241, 245, 247) ;
}
 img{
    height: 100px;
 }
 #divphoto1{
    background-color: rgb(236, 234, 234);
    
 }

 /* .flex-container {
   display: flex;
   flex-wrap: nowrap;
   background-color: DodgerBlue;
 } */
 
 .flex-container > div {
   background-color: #f1f1f1;
   width: 100px;
   margin: 10px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
 }